<!DOCTYPE html>
  <html>
    <head>
	    
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157586152-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-157586152-1');
	</script>
	    
      <title>{{page.title}}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" hrefe="/css/main.css">
    </head>
    
    <body>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>          
        </ul>
      </nav>
      <div class="container">
      
    			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jdumont01@ieee.org">email</a></li>
	        		<li><a href="https://github.com/jdumont01">github.com/jdumont01</a></li>
				</ul>
			</footer>
    </body>
  </html>
